.button-group {
    background-color: rgb(35, 39, 39);
    color: white;
    
}
.tip-group {
    margin: 0 4px 0 4px;
}

.tip-group:nth-of-type(1) {
    margin-left: 0px;
}
#total-list-item {
    font-style: italic;
}
.invalid-input {
    border-color: red;
}
.page-header {
    text-align: center;
}
input {
    max-width: fit-content;
}